* {
    font-family: 'Poppins', sans-serif;
}

#game-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-auto-flow: column;
}
@media screen and (max-width: 900px) {
  #game-grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }
}